.hero {
  position: relative;
  top: 0;
  display: flex;
}

.heading {
  width: 100%;
  margin-top: 11rem;
}

.subheadingContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subheadingContainer svg {
  height: 100%;
  width: 100%;
  max-width: 220px;
}

.headingLabel {
  display: flex;
  flex-direction: column;
  font-family: var(--swm-title-landing-font);
  font-size: 64px;
  font-weight: 700;

  line-height: 1.1;
  letter-spacing: 0;
  color: var(--swm-landing-heading);
}

.headingLabel :nth-child(2) {
  color: var(--swm-cornflower-80);
}

.subheadingLabel {
  font-family: var(--swm-h2-font-size);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: var(--swm-heading-letter-spacing-bigger);

  margin-top: 3rem;
  width: 80%;
  color: var(--swm-landing-heading);
}

.buttonContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .headingLabel {
    font-size: 48px;
  }
  .subheadingLabel {
    margin: 2rem 0 3.5rem 0;
    font-size: 26px;
    width: 100%;
  }

  .buttonContainer {
    margin-top: -2rem;
  }
}

@media (max-width: 420px) {
  .heading {  
    margin-top: 6rem;
  }
  .headingLabel {
    font-size: 26px;
  }
  .subheadingLabel {
    margin: 1rem 0 2rem 0;
    font-size: 20px;
  }

  .buttonContainer {
    margin-top: -1rem;
  }
}
