.homepageButton {
  height: 60px;
  padding: 1em 1.5em 1em 1em;

  font-weight: 500;
  font-size: 20px;
  text-wrap: nowrap;

  color: var(--swm-off-white);
  background-color: var(--swm-navy-light-100);

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

a.homepageButtonLink:hover {
  text-decoration: none !important;
}

.homepageButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .homepageButton,
  .homepageButtonLink {
    width: 100%;
  }
  .homepageButton {
    font-size: 18px;
  }
}

.homepageButton p {
  margin: 0 0 2px 0;
}

.homepageButton svg {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arrow {
  transition: left 0.3s;
}

.arrow {
  left: 8px;
}

.homepageButton svg {
  transition: stroke 0.3s;
}

.homepageButton:hover .arrow {
  left: 16px;
}

/* Button - transparent styling */

.buttonTransparentStyling {
  color: var(--swm-navy-light-100);
}

.buttonTransparentStyling svg {
  stroke: var(--swm-navy-light-100);
}

/* Button - navy styling */

.buttonPurpleStyling svg {
  stroke: var(--swm-off-white);
}

.buttonPurpleStyling:hover {
  background-color: transparent;
  color: var(--swm-navy-light-100);
}

.buttonPurpleStyling:hover svg {
  stroke: var(--swm-navy-light-100);
}

.buttonPurpleBorderStyling {
  border: 1px solid var(--swm-navy-light-100);
}

.arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
}

[data-theme='dark'] .homepageButton {
  background-color: var(--swm-cornflower-100);
  border-color: var(--swm-cornflower-100);
}

[data-theme='dark'] .homepageButton:hover {
  border-color: var(--swm-off-white);
}

/* Button - transparent styling */

[data-theme='dark'] .buttonTransparentStyling {
  color: var(--swm-cornflower-100);
}

[data-theme='dark'] .buttonTransparentStyling svg {
  stroke: var(--swm-cornflower-100);
}

/* Button - navy styling */

[data-theme='dark'] .buttonPurpleStyling svg {
  stroke: var(--swm-off-white);
}

[data-theme='dark'] .buttonPurpleStyling:hover {
  background-color: transparent;
  color: var(--swm-off-white);
}

[data-theme='dark'] .buttonPurpleStyling:hover svg {
  stroke: var(--swm-off-white);
}

[data-theme='dark'] .buttonPurpleBorderStyling {
  border: 1px solid var(--swm-cornflower-100);
}
